<mat-card>
  <mat-card-header>
    <mat-card-title>
      Client #{{ data.Cliente_ID }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ data.Nombre }} {{ data.Apellidos }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Username: {{ data.Nombre_Usuario }}</p>
    <p>Password: {{ data['Contraseña'] }}</p>
    <p>Email: {{ data.Correo_Electronico }}</p>
    <p>Age: {{ data.Edad }}</p>
    <p>Height: {{ data.Estatura }}m</p>
    <p>Creation date: {{ data.Fecha_Creacion }}</p>
    <p>Update date: {{ data.Fecha_Actualizacion }}</p>
    <p>GEB: {{ data.GEB }}</p>
  </mat-card-content>
</mat-card>
